.bg-red{
    background-color: red!important;
}

.bg-tomato{
    background-color: tomato!important;
}

.bg-teal{
    background-color: teal!important;
}

.bg-blue{
    background-color: blue!important;
}

.bg-yellow{
    background-color: yellow!important;
}

.bg-orange{
    background-color: orange!important;
}

.bg-green{
    background-color: green!important;
}

.bg-blackish{
    background-color: #1a1a1a!important;
}